version: "3.8"
services:
  jenkins:
    build: .
    container_name: jenkins-lts
    ports:
      - "8080:8080"  # Jenkins UI
      - "50000:50000" # JNLP inbound agents (optional)
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock 
    restart: unless-stopped
volumes:
  jenkins_home:
